*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1
{
    font-family: "Major Mono Display", monospace;
    text-transform: uppercase;
}

html, body
{
    height: 100%;
}

body
{
    font-family: "Roboto", sans-serif;
}

a
{
    color: inherit;
    text-decoration: inherit;
}

#left
{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    background-color: white;
    overflow: hidden;
    z-index: 99;

    a
    {
        display: block;
        border: 1px solid black;
        margin: 1rem;
        text-align: center;
        text-transform: uppercase;

        &:hover
        {
            text-decoration: underline;
        }
    }
}

#container
{
    width: 100vw;
    padding: 1rem;
}

header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    a
    {
        text-transform: uppercase;

        &:hover
        {
            text-decoration: underline;
        }
    }

    #hamburger
    {
        font-size: 1.5rem;
    }

    ul
    {
        display: none;
        list-style: none;

        li
        {
            margin-left: .75rem;
        }
    }
}

#hamburger-menu
{
    width: 100%;
    margin: 1rem 0;
    opacity: 0;

    .row
    {
        border: 1px solid black;
        padding: .2rem 0;

        a
        {
            display: block;
            text-transform: uppercase;
            text-align: center;
        }

        &:not(:first-of-type)
        {
            border-top: none;
        }
    }
}

#social-links
{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    a
    {
        text-transform: uppercase;
        margin: .25rem 0;

        &:hover
        {
            text-decoration: underline;
        }
    }
}

@media only screen and (min-width: 600px)
{
    #hamburger, #left
    {
        display: none;
    }

    header > ul
    {
        display: flex;
        font-size: .9rem;
    }
}